.BeerThermometer {
    border: 4px solid;
    margin: 2px;
    padding: 5px;
    display: flex;
    float: left;
    vertical-align: middle;
    align-items: center;
}

.BeerThermometer > .text-container label {
    display: block;
    margin-top: 5px;
}

.BeerThermometer .canvas-container {
    position: relative;
    width: 60%;
    float: right;
}